_site/blogs.html
_site/blogs.html
_site/compsci.html
_site/help.html
_site/index.html
_site/2023/08/15/Tools_Plans_Sample.html
_site/2023/08/16/Tools_Hacks_Sample.html
_site/2023/08/16/Tools_Help.html
_site/2023/08/17/Markdown_Table_Code_Hack_IPYNB_2_.html
_site/2023/08/21/GitHub_Pages_Plans.html
_site/2023/08/21/GitHub_Pages_Tangibles.html
_site/2023/08/26/GitHub_Sync.html
_site/2023/08/30/Calculator_IPYNB_2_.html
_site/2023/08/30/Calculator.html
_site/2023/08/30/Game_Of_Life.html
_site/2023/08/31/Snake.html
_site/c4.1/2023/08/21/HTML_Image_Hack_IPYNB_2_.html
_site/plans/week2.html
_site/plans/week3.html
_site/blogs.html
_site/blogs.html
