<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="fork"><a href="{{site.baseurl}}/2023/07/30/mario_overview_IPYNB_2_.html">Mario Game Example</a></li>
        <li class="fork"><a href="{{site.baseurl}}/c4.1/2023/10/05/Plan_IPYNB_2_.html">Game Plan</a></li>
        <li class="fork"><a href="{{site.baseurl}}/blogs">Blogs</a></li>
        <li class="title"><a href="{{site.baseurl}}/help">Help</a></li>
        <li class="title"><a href="{{ site.github.repository_url }}#readme">View On GitHub</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>