<table>
    <tr>
        <td><a href="{{site.baseurl}}/2023/07/30/mario_overview_IPYNB_2_.html">Overview</a></td>
        <td><a href="{{site.baseurl}}/2023/08/01/mario_player_IPYNB_2_.html">Player</a></td>
        <td><a href="{{site.baseurl}}/2023/08/02/mario_platform_IPYNB_2_.html">Platform</a></td>
        <td><a href="{{site.baseurl}}/2023/08/03/mario_tube_IPYNB_2_.html">Tube</a></td>
        <td><a href="{{site.baseurl}}/2023/08/04/mario_block_IPYNB_2_.html">Block</a></td>
        <td><a href="{{site.baseurl}}/2023/08/05/mario_goomba_IPYNB_2_.html">Goomba</a></td>
        <td><a href="{{site.baseurl}}/2023/08/06/mario_background_IPYNB_2_.html">Background</a></td>
    </tr>
</table>